<%-include("../partials/header")%>
<%-include("../partials/navbar")%>


<div class="container mt-5">
    <div class="jumbotron">
      <div class="d-flex">
      <img src="https://www.roptimumtechnologies.com/wp-content/uploads/2018/06/blog-icon.png" alt="" width="200" height="200">
        <h1 class="display-4 mt-5" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Blog Post</h1>
      </div>
        <p class="lead" style="font-family: Arial, Helvetica, sans-serif;">The potential uses of blogs are almost limitless. They can be used for anything that involves communicating or publishing information on the World Wide Web. Common uses include teaching and educational and corporate use.</p>
        <hr class="my-4">
        <p style="font-family:monospace">Let's Write a new Blog to inform the world...</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/blogs" role="button">Blog Feed</a>
        </p>
      </div>
</div>










<%-include("../partials/footer")%>